.footer {
    @include container;
    margin-top: 50px;
    background-color: $l-blue;
    padding-bottom: 10px;
    margin-bottom: 20px;
    @media only screen and (max-width:$mobile){
        margin-top: 20px;
    }
    .footer-container {
        @include container-content;
        .footer-content{
            text-align: center;
            margin: -5px;
            @media only screen and (max-width:$mobile){
               text-align: left;
               margin: 0;
            }
            .curve{
                text-align: center;
                display: inline-block;
                position: absolute;
                @media only screen and (max-width:$mobile){
                    display: none;
                }
                img{
                    width: 100%;
                    margin: -10px;
                    @media only screen and (max-width:$mobile){
                        width: 50%;
                        margin: -10px;
                        margin-left: 30px;
                    }
                }
            }
            p{
                display: inline-block;
                font-size: 12px;
                vertical-align: top;
                padding-left: 30px;
                @media only screen and (max-width:$mobile){
                    text-align: left;
                    display: inline-block;
                    font-size: 11px;
                    padding: 0;
                }   
                &.sep {
                    &:after {
                        content: ' | ';
                        padding: 2px;
                    }
                }
            }
            .tip{
                padding: 2px;
                @media only screen and (max-width:$mobile){
                    display: inline-block;
                    text-align: right;
                }
            }
        }
        .form{
            text-align: center;
            padding-left: 110px;
            @media only screen and (max-width:$mobile){
                text-align: left;
                padding: 0;
            }
            input{
                width: 145px;
                border-radius: 5px;
                border-style: none;
                height: 22px;
                margin: 3px;
                padding: 4px;
                @media only screen and (max-width:$mobile){
                    width: inherit;
                }
            }
            button{
                color: $white;
                background-color: $blue;
                border-radius: 3px;
                border-style: none;
                height: 25px;
                cursor: pointer;
                @media only screen and (max-width:$mobile){
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}